.info-event-section{
    text-align: center;
    padding: 0 4%;
}

.info-event-section h1{
    font-size: 2rem;
}

.event-details{
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

.event-details img{
    width: 100%;
}

.event-details div:first-child{
    width: 75%;
}

.event-details div:last-child{
    width: 20%;
}

.icon-event-details{
    display: flex;
}

.icon-event-details a{
    border: 1px solid #689997;
    padding: 25%;
    border-radius: 50%;
    background-color: #689997;
    margin-right: 10%;
}

.icon-event-details a svg{
    color: #fff;
}

@media (max-width: 425px) {
    .event-details {
        flex-direction: column;
    }
}